		<!-- Footer -->
			<div id="footer-wrapper">
				<section id="footer" class="container">
					<div class="row">
						<div class="8u">
							<section>
								<header>
									<h2>¿Qué es todo esto?</h2>
								</header>
                <div id='copyright'>
                  <p class='links'>
                  	Si llegas a comprar tu básico pero la cola es más
                  	larga que los nuevos cachimbos.
                  	Si recojes tu básico y no tienes espacio donde sentarte.
                    Si el venado te quita tu básico mientras estas comiendo.
                    Entonces esta página es para ti.
                  </p>
                </div>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Contáctanos</h2>
								</header>
								<ul class="social">
									<li><a class="icon fa-facebook" href="https://www.facebook.com/nohaybasico"><span class="label">Facebook</span></a></li>
									<li><a class="icon fa-twitter" href="https://twitter.com/nohaybasico"><span class="label">Twitter</span></a></li>
								</ul>
								<ul class="contact">
									<li>
										<h3>
											<a class = 'button small' href="/contact">Escríbenos Aquí</a>
										</h3>
									</li>
								</ul>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<!-- Copyright -->
								<div id="copyright">
									<ul class="links">
										<li>&copy; Nohaybasico. All rights reserved.</li>
                    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
									</ul>
								</div>
						</div>
					</div>
				</section>
			</div>
			<script src="//oss.maxcdn.com/jquery.form/3.50/jquery.form.min.js"></script>
			<script src="/public/js/sweet-alert.min.js"></script>
			<script src="/public/js/dialog-polyfill.js"></script>
		  <script src="/public/bundle.js"></script>
	</body>
</html>
