extends ./main-template.jade

block title
  #header-wrapper
    #header
      include title
      section#banner
        header
          h2 No hay básico
          p 
            | Checkea que puedes comer cerca hoy 
            b #{cur_day}

block content
  .container
    .row
      .12u
        section
          header.major#menus 
            h2
              - perc = ((data.perc /data.total) * 100).toFixed(0)
              progress(max='#{data.total}', value='#{data.perc}')
              span.progress-value #{perc} %
          div(class='row columns')
            each rest in data.restaurants
              include restaurant
