extends ./main-template.jade

block title
  #header-wrapper
    #header
      include title
      section#banner
        header
          h2 No hay basico. Sobrevive
          p Checkea que puedes comer hoy cerca

block content
  .container
    .row
      .12u
        section
          header.major 
            h2 Menus
          .row
            each rest in restaurants
              include restaurant
