extends ./main-template.jade

block title
  #header-wrapper
    #header
      include title
      section#banner
        header
          h2 Volveremos pronto
          p 
            | Estamos recogiendo nuestro básico
