extends ./restaurant-template.jade

block content
  .container
    .row
      div(class='6u -3u')
        .box
          header
            h3 Platos a la carta
          ul
            li gg
            li gg2
            li gg3
