extends ./restaurant-template.jade

block content
  .container
    .row
      div(class='6u -3u')
        .box
          header
            h3 Platos a la carta
          ul
            each dish in restaurant.carta
              li(class='block-left-right')
                div(class='pull-left')
                  span #{dish.name}
                div(class='pull-right') #{dish.price}                
