extends ./restaurant-template.jade

block content
  .container
    .row
      div(class='6u -3u')
        .box
          header
            h3 Platos a la carta
          ul.dishes
            each dish in restaurant.carta
              li(class='block-left-right')
                span #{dish.name}
                div(class='pull-right') S/. #{dish.price}                
