.4u  
  section.box
    a(class='image featured')
      .box-separator
    header
      div.same-line
        h3.same-line #{rest.name}
        div(class='circle same-line')
        span.same-line abierto
      div S/. 5 - 15
    .row
      ul(class='row dishes')
        li.12u Plato con nombre largo 1
        li.12u Plato con nombre largo 1
        li.12u Plato 2
        li.12u Plato 3
        li.12u Plato 3
    footer
      - var redirect = rest.dishes ? 'menu' : 'carta';
      a(class='button alt', href='#{rest.homeID}/#{redirect}') Ver más
