.4u  
  section.box
    a(class='image featured', href='#')
      img(src=rest.bannerURL)
    header
      h3 #{rest.name}
    p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
    footer
      a(class='button alt', href='#{rest.homeID}') Find out more
