h1
  a(href='index.html') #{restaurant.name}

nav#nav
  ul
    li.current 
      a(href='#{restaurant.homeID}/menu') Menu
    li
      a(href='#{restaurant.homeID}/carta') Carta
    li
      a(href='#{restaurant.homeID}/contacto') Contacto
    li
      a(href='/') Atrás
