/**main page**/
.box {
  margin-bottom: 1em !important;
}
/*****/
.block-left-right {
  clear: both;
  width: 100%;
}
.info {
  margin-bottom: 5px;
  margin-top: 15px;
  position: relative;
}
.view-google-maps {
  text-decoration: none;
  background-color: rgb(213, 35, 73);  
  color: white;
  padding: 4px 1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
}
.info span {
  left: 1.2em;
  position: absolute;
}
.social-info {
  margin-top: 10px;
}
.img-responsive {
  height: auto;
  width: 100%;
}
.social-info li{
  display: inline-block;
  font-size: 2em;
  text-align: center;
  width: 1.5em;
}
.social-info li a {
  color: gray;
  cursor: pointer;
  text-decoration:none;
}
.social-info li a label{
  display: none;
}

.social-info .fa-facebook:hover {
  color: #3c5a98;
}
.social-info .fa-twitter:hover {
  color: #3dbaf4;
}
.social-info .fa-google-plus:hover {
  color: #da2713;
}
.social-info .fa-instagram:hover {
  color: #517fa4;
}
.social-info .fa-pinterest:hover {
  color: #cb2027;
}
.menu-price {
  width: 100%;
}
.dishes {
  list-style: disc;
  list-style-position: inside;
}
.menu-1 {
  background-color: #C4D6A4;
}
.menu-2 {
  background-color: #8A9E9C;
}
.menu-3 {
  background-color: #74757D;
}
.menu-4 {
  background-color: #AD7990;
}
.menu-5 {
  background-color: #A3DEF0;
}
.same-line {
  display: inline-block;
  margin: 0 0;
  padding: 0 0;
}

.box-separator {
  background: #858484;
  height: 10px;
}

.tag {
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 900;
  line-height: 1em;
  margin: 0 4px;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/* - checkmark -  */
.circle {
  background: green;
  border-radius: 50%;
  height: 10px; 
  margin-left: 15px;
  margin-right: 3px;
  width: 10px;
}
