.block-left-right {
  clear: both;
  width: 100%;
}

.dishes {
  list-style: disc;
  list-style-position: inside;
}
.menu-1 {
  background-color: #C4D6A4;
}
.menu-2 {
  background-color: #8A9E9C;
}
.menu-3 {
  background-color: #74757D;
}
.menu-4 {
  background-color: #AD7990;
}
.same-line {
  display: inline-block;
  margin: 0 0;
  padding: 0 0;
}

.box-separator {
  height: 10px;
  background: #858484;
}

.tag {
  margin: 0 4px;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 900;
  line-height: 1em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}

/* - checkmark -  */
.circle {
  background: green;
  border-radius: 50%;
  height: 10px; 
  margin-left: 15px;
  margin-right: 3px;
  width: 10px;
}
